@import "globals.scss";
@import "partials/reset.scss";
@import "partials/animations.scss";
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto+Slab");
body {
  background: url($path + "/src/assets/geometry.png");
  font-family: "Raleway", serif !important;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pattern {
  background: url($path + "/src/assets/pattern-md.png");
  padding: 0.5em;
}

.navbar > ul > li > a {
  color: #5e5e5e;
  background-color: transparent;
}

.nav-con, .navbar-brand {
  border-bottom: 1px solid $light-green;
}

.navbar {
  box-shadow: bottom-shadow(1), top-shadow(1);
}

.btn-question {
  margin-bottom: 20px;
}

.nb-error {
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  padding: 60px 30px;
}

.nb-error .error-code {
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.nb-error .error-desc {
  font-size: 12px;
  color: #647788;
}

.nb-error .input-group {
  margin: 30px 0;
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    flex-grow: 0.95 !important;
    flex-shrink: 0;
  }
}
